<div class="container">
    <div class="row pb-4 header">
        <div class="col-sm">  Photo </div>
        <div class="col-sm">  Name </div>
        <div class="col-sm">  Weight </div>
        <div class="col-sm">  Height </div>
        <div class="col-sm">  Length </div>
        <div class="col-sm">  Kind </div>
    </div>
    <div *ngFor="let pet of pets" class="row">
        <div class="col-sm align-self-baseline">  <img src="{{ pet.photoUrl }}" class="img-thumbnail img-small" alt=""></div>
        <div class="col-sm align-self-baseline"> {{pet.name}} </div>
        <div class="col-sm align-self-baseline">  {{pet.weight}} </div>
        <div class="col-sm align-self-baseline">  {{pet.height}} </div>
        <div class="col-sm align-self-baseline">  {{pet.length}} </div>
        <div class="col-sm align-self-baseline">  kind </div>
    </div>
<app-pagination [page]="page" [disablePrev]="isPrevDisabled()" [disableNext]="isNextDisabled()"
                (pageEvent)="reloadPets($event)"></app-pagination>
</div>
